<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Ubuntu+Mono" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>cloudf</title>
  </head>

  <body>

    <div class="card shadow-lg " id="card_login">
      <img class="card-img-top" src="/images/cloudf.png" style="width:50%;margin:auto;" alt="Card image cap">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="input_login_email" class="bmd-label-floating">email address</label>
            <input type="email" class="form-control" id="input_login_email">
          </div>
          <div class="form-group">
            <label for="input_login_password" class="bmd-label-floating">password</label>
            <input type="password" class="form-control" id="input_login_password">
          </div>
          <div class="row justify-content-between" style="padding-left:15px;padding-right:15px;">
            <button type="submit" class="btn bg-light btn-raised">log in</button>
            <button type="submit" class="btn bg-light btn-raised">no account? sign up</button>
          </div>
        </form>
      </div>
    </div>


    <!-- jQuery first, then Popper.js, SnackbarJS, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <!-- SnackbarJS plugin -->
    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <!-- Optional JavaScript -->
    <script src="js/index.js"></script>
  </body>
</html>
