<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Ubuntu+Mono" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <title>cloudf</title>
  </head>

  <body>
    <div class="container">
      <img src="/images/cloudf.png" style="width:10%">
      <!-- put current username and logout button here -->
    </div>
    <div class="container" id="main_container">
      <!-- breadcrumbs Banner -->
      <div class="breadcrumbs" id="banner">
          <div class="pathSection" id="path" onclick="populateDirectoryListing('/root')">
            <p style="text-align: center">Root</p>
          </div>
      </div>
      <div id="files">
        <p>Loading files, please wait...</p>
      </div>
      <!-- Floating Buttons -->
      <div class="floatingButtons">
        <div class="circleButton" id="uploadFile" onclick="uploadFile()"> </div>
        <div class="circleButton" id="newFolder" onclick="createDirectory()"> </div>
      </div>
    </div>

    <div class="container" style="text-align: center;">
      <p>© 2018 Benjamin Streit, Blake Rieschick, and Evan Brown</p>
    </div>

    <!-- jQuery first, then Popper.js, SnackbarJS, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <!-- SnackbarJS plugin -->
    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <!-- Optional JavaScript -->
    <script src="js/icons_map.js"></script>
    <script src="js/dummy.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
