body {
  font-family: 'Ubuntu Condensed', sans-serif;
  background: #E6CCBE;
  /* font-family: 'Ubuntu', sans-serif;
  font-family: 'Ubuntu Mono', monospace; */
}

/**
  Styling for login card
*/
#card_login {
  background: #8CABBE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  width: 50%;
}

#main_container {
  background-color: white;
  border: 2px solid black;
  padding: 1vw;
  border-radius: 1vw;
  /*overflow: scroll;*/
}

.file_icon {
  margin-right: 1.25rem;
  height: 32px;
  width: 32px;
}

.card.file {
  background-color: lightgrey;
}

.card.directory {
  background-color: #8CABBE;
}

.card.parent {
  background-color: #C8CC92;
}

/* Styling for floatingButtons */
#uploadFile {
  background-image: url("/images/flaticon/upload-to-cloud.png");
  right: 0px;
}

#newFolder {
  background-image: url("/images/flaticon/new-add-folder.png");
}

.circleButton {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: red;
  border: 3px solid #000;
  background-repeat: round ;
  cursor: pointer;

  position: absolute;
}

.floatingButtons {
  height: 50px;
  width: 100px;

  position: relative;
  top: 30px;
  left: 95%;
}

/* Styling For breadcrumb Banner */
.breadcrumbs{

 }

 #banner {
   display: flex;
 }
.root {
  height: 25px;
  width: 10%;
  background-color: #c0eafc;
  right: 0px;
  flex: 1;
  cursor: pointer
}
 .pathSection {
  height: 25px;
  width: 10%;
  background-color: #c0eafc;
  right: 0px;
  flex: 1;
  visibility: hidden;
  cursor: pointer
}
