body {
  font-family: 'Ubuntu Condensed', sans-serif;
  background: #E6CCBE;
  /* font-family: 'Ubuntu', sans-serif;
  font-family: 'Ubuntu Mono', monospace; */
}

/**
  Styling for login card
*/
#card_login {
  background: #8CABBE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  width: 50%;
}

/**
 * Styling for file cards
 */
.card {
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 1vw;
}

#main_container {
  width: 100vw;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
  border: 2px solid black;
  padding: 1vw;
  left: 0px;
  border-radius: 1vw;
  min-height: 80vh;
  margin-bottom: 10vh;
  position: relative;
  transition: max-width 0.5s;
  /*overflow: scroll;*/
}

#main_container[small] {
  width: calc(100vw - 200px);
}

#copyright {
  position: absolute;
  bottom: -48px;
}

.file_icon {
  margin-right: 1.25rem;
  height: 32px;
  width: 32px;
}

.card.file {
  background-color: lightgrey;
}

.card.directory {
  background-color: #8CABBE;
}

.card.parent {
  background-color: #C8CC92;
}

/* Styling for floatingButtons */
#uploadFile {
  background-image: url("/images/flaticon/upload-to-cloud.png");
  right: 0px;

  top: 30px;
  left: -15%;
}

#newFolder {
  background-image: url("/images/flaticon/new-add-folder.png");

  top: 30px;
  left: 36%;
}

#deleteFile {
  background-image: url("/images/flaticon/delete.png");
}

#downloadFile {
  background-image: url("/images/flaticon/cloud-computing.png");
}

#shareFile {
  background-image: url("/images/flaticon/share-option.png");
}

.circleButton {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: #9C858D;
  border: 2px solid #000;
  background-repeat: round ;
  cursor: pointer;

  position: absolute;
  z-index: 2;
}

.circleButton.side{
  position: relative;
}

.floatingButtons {
  height: 50px;
  width: 100px;

  position: absolute;
  bottom: 0px;
  right: -24px;
}

/* Styling For breadcrumb Banner */
#banner {
  width: 80%;
  height: 30px;
  display: block;
  position: absolute;
  top: -27.5px;
  left: 20%;
}

.pathSection {
  height: 25px;
  width: 100px;
  background-color: #947982;
  cursor: pointer;
  float: left;
  margin: 2px;
  border-radius: 3px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

#path {
  background-color: #c8cd8f;
}

/**
  * Styling for upload form modal, create directory modal
*/
#modal_upload_form_content, #modal_create_directory_content,
#modal_delete_file_content, #modal_download_file_content,
#modal_share_file_content {
  background-color: #E6CCBE;
}

#data-filename-input {
  width: -webkit-fill-available;
  display: none;
}

.sidebar {
  right: 0px;
  height: 80vh;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 10vh;
  transition: right 0.5s;
  padding-top: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #E9E9E9;
  border: 2px solid black;
  text-align: center;
  /* padding: 1vw; */
  border-radius: 1vw;
}
.sidebar[disabled]{
  right: -200px;
}
@media (min-width: 576px) {
  .sidebar {
    right: calc(50vw - 270px); }
  #main_container {
    max-width: 540px;
    left: calc(50vw - 270px);
  }
  #main_container[small] {
    max-width: 340px;
  } }
@media (min-width: 768px) {
  .sidebar {
    right: calc(50vw - 360px); }
  #main_container {
    max-width: 720px;
    left: calc(50vw - 360px);
  }
  #main_container[small] {
    max-width: 520px;
  } }
@media (min-width: 992px) {
  .sidebar {
    right: calc(50vw - 480px); }
  #main_container {
    max-width: 960px;
    left: calc(50vw - 480px);
  }
  #main_container[small] {
    max-width: 760px;
  } }
@media (min-width: 1200px) {
  .sidebar {
    right: calc(50vw - 570px); }
  #main_container {
    max-width: 1140px;
    left: calc(50vw - 570px);
  }
  #main_container[small] {
    max-width: 940px;
  } }

.sidebar .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
