body {
  font-family: 'Ubuntu Condensed', sans-serif;
  background: #E6CCBE;
  /* font-family: 'Ubuntu', sans-serif;
  font-family: 'Ubuntu Mono', monospace; */
}

/**
  Styling for login card
*/
#card_login {
  background: #8CABBE;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  width: 50%;
}

#main_container {
  background-color: white;
  border: 2px solid black;
  padding: 1vw;
  border-radius: 1vw;
  min-height: 80vh;
  /*overflow: scroll;*/
}

.file_icon {
  margin-right: 1.25rem;
  height: 32px;
  width: 32px;
}

.card.file {
  background-color: lightgrey;
}

.card.directory {
  background-color: #8CABBE;
}

.card.parent {
  background-color: #C8CC92;
}

/* Styling for floatingButtons */
#uploadFile {
  background-image: url("/images/flaticon/upload-to-cloud.png");
  right: 0px;

  top: 30px;
  left: -15%;
}

#newFolder {
  background-image: url("/images/flaticon/new-add-folder.png");

  top: 30px;
  left: 36%;
}

#deleteFile {
  background-image: url("/images/flaticon/delete.png");
  right: 0px;

  top: 10px;
  left: 40%;
  visibility: hidden;
}

#downloadFile {
  background-image: url("/images/flaticon/cloud-computing.png");

  top: 10px;
  left: 10%;
  visibility: hidden;
}

.circleButton {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: red;
  border: 3px solid #000;
  background-repeat: round ;
  cursor: pointer;

  position: absolute;
  z-index: 2;
}

.floatingButtons {
  height: 50px;
  width: 100px;

  position: relative;
  top: 400px;
  left: 95%;
}

/* Styling For breadcrumb Banner */
.breadcrumbs{

 }

 #banner {
   display: flex;
 }

 .pathSection {
  height: 25px;
  width: 10%;
  background-color: #c0eafc;
  flex: 1;
  cursor: pointer;
}

/**
  * Styling for upload form modal, create directory modal
*/
#modal_upload_form_content, #modal_create_directory_content, #modal_delete_file, #modal_download_file{
  background-color: #E6CCBE;
}

.sidebar {
  right: 0px;
  height: 70vh;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 10vh;
  transition: 0.5s;
  padding-top: 10vh;
  background-color: white;
  border: 2px solid black;
  /*padding: 1vw;*/
  border-radius: 1vw;
}
.sidebar[disabled]{
  right: -200px;
}
@media (min-width: 576px) {
  .sidebar {
    right: calc(50vw - 270px); } }
@media (min-width: 768px) {
  .sidebar {
    right: calc(50vw - 360px); } }
@media (min-width: 992px) {
  .sidebar {
    right: calc(50vw - 480px); } }
@media (min-width: 1200px) {
  .sidebar {
    right: calc(50vw - 570px); } }

.sidebar .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
